
.header{
    height: 75px;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 131px;
    height: 52px;
}

.meniu{
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.meniu p{
    color: var(--menu-items-color);
    font-size: 18px;
}

.header-right{
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: space-around;
}

#facebook_logo{
    width: 30px;
    height: 29px;
}

#instagram_logo{
    width: 27px;
    height: 27px;
}

#whatsapp_logo{
    width: 30px;
    height: 30px;
}

#numar_telefon{
    color: white;
    margin-left: 20px;
    font-size: 18px;
}